<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span jhiTranslate="gamifierApp.activity.detail.title">Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gamifierApp.activity.dateTime">Date Time</span></dt>
                <dd>
                    <span>{{activity.dateTime}}</span>
                </dd>
                <dt><span jhiTranslate="gamifierApp.activity.behaviour">Behaviour</span></dt>
                <dd>
                    <div *ngIf="activity.behaviourId">
                        <a [routerLink]="['/behaviour', activity.behaviourId, 'view']">{{activity.behaviourName}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gamifierApp.activity.employee">Employee</span></dt>
                <dd>
                    <div *ngIf="activity.employeeId">
                        <a [routerLink]="['/employee', activity.employeeId, 'view']">{{activity.employeeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
