<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-achievement-behaviour-heading" jhiTranslate="gamifierApp.achievementBehaviour.home.createOrEditLabel">Create or edit a Achievement Behaviour</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gamifierApp.achievementBehaviour.times" for="field_times">Times</label>
                    <input type="number" class="form-control" name="times" id="field_times"
                           formControlName="times"/>
                    <div *ngIf="editForm.get('times').invalid && (editForm.get('times').dirty || editForm.get('times').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('times').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('times').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1 }">
                            This field should be at least 1.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('times')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gamifierApp.achievementBehaviour.achievement" for="field_achievement">Achievement</label>
                    <select class="form-control" id="field_achievement" name="achievement" formControlName="achievementId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="achievementOption.id" *ngFor="let achievementOption of achievements; trackBy: trackAchievementById">{{achievementOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gamifierApp.achievementBehaviour.behaviour" for="field_behaviour">Behaviour</label>
                    <select class="form-control" id="field_behaviour" name="behaviour" formControlName="behaviourId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="behaviourOption.id" *ngFor="let behaviourOption of behaviours; trackBy: trackBehaviourById">{{behaviourOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
